<nav class="cluster _justify:space-between _align:center">
  <div>
    <a href="/">
      {% include barn.html %}
      <!-- <img src="/assets/images/barn-outline.svg" alt="Logo" class="logo"> -->
    </a>
    <div class="cluster">
      <div>
        <a href="/event">Event Details</a>
        <a href="/participate">Participate</a>
        <a href="/resources">Resources</a>
        <a href="/donate">Donate</a>
      </div>
    </div>
    <a href="{{site.event_link}}" target="_blank" class="button _size:sm">RSVP</a>
  </div>
</nav>
