@import "normalize.css";
@import "settings.css";
@import "typography.css";

@import "every_layout/Box.css";
@import "every_layout/Center.css";
@import "every_layout/Cluster.css";
@import "every_layout/Cover.css";
@import "every_layout/Stack.css";
@import "every_layout/Switcher.css";
@import "every_layout/Icon.css";
@import "every_layout/Frame.css";

@import "elements/buttons.css";

@import "utilities.css";

main {
  max-width: var(--measure);
  margin-left: auto;
  margin-right: auto;
}

#barn {
  min-height: 3rem;
}

#barn:hover {
  fill: var(--color-primary);
  transition: all 0.2s cubic-bezier(1, 0, 0, 1);
}

.circle {
  border-radius: 50%;
}

@media screen and (max-width: 40rem) {
  .cluster > div {
    justify-content: center;
  }
}

body {
  background-color: #b87b180f
}
